<ul>
  <li>
    <a [routerLink]="['/calculator']" routerLinkActive="router-link-active"
      >Calculate</a
    >
  </li>
  <li>
    <a [routerLink]="['/object-list']" routerLinkActive="router-link-active"
      >Object list</a
    >
  </li>
  <li>
    <a [routerLink]="['/parent']" routerLinkActive="parent-link-active">
      Parent
    </a>
  </li>
  <li>
    <a [routerLink]="['/server']" routerLinkActive="server-link-active">
      Server
    </a>
  </li>
  <li>
    <a
      [routerLink]="['/learn-angular']"
      routerLinkActive="learn-angular-link-active"
    >
      Learn-Angular
    </a>
  </li>
  <li>
    <a
      [routerLink]="['/counter']"
      routerLinkActive="counter-link-active"
    >
      Counter
    </a>
  </li>
</ul>
